<template>
    <div>
        <p class="
            text-2xl
            font-medium
            pb-4
        ">
            {{ $t(name) }}
        </p>
        <InputBase
            v-bind:key="key"
            v-for="(value, key) in Object.keys(object)"
            v-bind:inputKey="value"
            v-bind:inputValue="object[value]"
        />
    </div>
</template>

<script lang='ts'>

import { Component, Prop, Vue } from 'vue-property-decorator';
import InputBase from '@/components/InputBase.vue';

@Component({
    components: {
        InputBase,
    },
})
export default class C extends Vue {
    @Prop()
    private name!: string;

    @Prop()
    private object!: any;
}

</script>
