<template>

<a
    v-on:click="$emit('click')"
    v-bind:class="{ 'bg-gray-200 dark:bg-cgray-800' : active }"
    v-bind:title="title"
    class="
    flex
    p-2
    hover:bg-gray-200
    dark:hover:bg-cgray-800
    hover:text-blue-500
    dark:hover:text-blue-400
    rounded-full
    cursor-pointer
">
    <IconBase v-bind:name="icon" />
</a>

</template>

<script lang="ts">

import { Component, Prop, Vue } from 'vue-property-decorator';
import { State } from 'vuex-class';
import IconBase from '@/components/IconBase.vue';

import { Project } from '@/ts/project';
import { ReportBase } from '@/ts/reportBase';

@Component({
    components: {
        IconBase,
    },
})
export default class C extends Vue {
    @Prop()
    private active!: boolean;

    @Prop()
    private title!: string;

    @Prop()
    private icon!: string;
}

</script>
