<template>
    <div v-if="report">
        <div class="flex items-center">
            <b>{{ $t('display') }}</b>

            <div class="pl-4 flex justify-around flex-1">
                <Button
                    v-on:click="showIcons = !showIcons"
                    v-bind:title="$t('changeIcon')"
                    v-bind:icon="report.points._hidden ? 'circleOff' : report.points.icon"
                />
                <Button
                    v-on:click="report.points.toggleNumber()"
                    v-bind:title="$t('toggleText')"
                    v-bind:icon="report.points._blankNumber ? 'numberOff' : 'number'"
                />
                <Button
                    v-on:click="report.points.toggleValue(report.values.current)"
                    v-bind:title="$t('toggleNumber')"
                    v-bind:icon="report.points._blankValue ? 'number2Off' : 'number2'"
                />
                <Button
                    v-on:click="project.toggleLine()"
                    v-bind:title="$t('toggleLines')"
                    v-bind:icon="report.line.hidden ? 'shareOff' : 'share'"
                />
                <Button
                    v-on:click="report.points.toggleMovable()"
                    v-bind:title="$t('toggleDrag')"
                    v-bind:icon="report.points._movable ? 'circleMovable' : 'circleLocked'"
                />
            </div>
        </div>

        <div
            v-if="showIcons"
            class="bg-gray-200 dark:bg-cgray-800 border-3 lg:border-4 border-gray-200 dark:border-cgray-800 rounded-lg lg:px-4 py-1 mt-2"
        >
            <div class="flex flex-wrap justify-between">
                <a
                    v-bind:key="icon.key"
                    v-for="icon in ICONS"
                    v-on:click="
                        report.points._hidden = false
                        report.points.icon = icon
                        project.update()
                    "
                    class="flex p-1 lg:p-2 hover:bg-white dark:hover:bg-cgray-900 hover:text-blue-500 dark:hover:text-blue-400 rounded-full cursor-pointer"
                >
                    <IconBase v-bind:name="icon" />
                </a>
                <a
                    v-on:click="
                        report.points._hidden = true
                        project.update()
                    "
                    class="flex p-1 lg:p-2 hover:bg-white dark:hover:bg-cgray-900 hover:text-blue-500 dark:hover:text-blue-400 rounded-full cursor-pointer"
                >
                    <IconBase name="circleOff" />
                </a>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator'
    import { State } from 'vuex-class'

    import { Project } from '@/ts/project'
    import { ReportBase } from '@/ts/reportBase'

    import IconBase from '@/components/IconBase.vue'
    import Button from './Button.vue'

    @Component({
        components: {
            Button,
            IconBase,
        },
    })
    export default class C extends Vue {
        @State('project')
        private project!: Project

        private readonly ICONS = [
            'bookmark',
            'circle',
            'droplet',
            'hexagon',
            'octagon',
            'square',
            'star',
            'triangle',
        ]

        private showIcons: boolean = false

        private report: ReportBase | null = null

        private mounted() {
            if (this.project && this.project.reports && this.project.reports.current) {
                this.report = this.project.reports.current as ReportBase
            }
        }
    }
</script>
