<template>
    <div class="flex flex-wrap justify-center">
        <button
            v-bind:key="key"
            v-for="(value, key) in list"
            v-bind:class="{
                'border-gray-400 dark:border-cgray-400': columns.includes(value),
                'border-gray-300 dark:border-cgray-600': !columns.includes(value),
                'font-black': project.reports.current.values.current === value,
            }"
            v-on:click="refreshColumns(value)"
            class="px-3 py-1 rounded-full mb-1 ml-1 text-xs font-semibold border-2 bg-gray-200 hover:bg-gray-200 dark:bg-cgray-800 dark:hover:bg-cgray-700"
        >
            {{ $t(value) }}
        </button>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator'
    import { State } from 'vuex-class'

    import { Project } from '@/ts/project'

    @Component
    export default class C extends Vue {
        @State('project')
        private project!: Project

        @Prop()
        private columns!: string[]

        private list: String[] = ['m/q', 'f/d']

        private refreshColumns(value: string): void {
            this.columns.splice(0, this.columns.length)
            if (value === 'f/d') {
                this.columns.push('Fmax', 'Umax')
            } else {
                this.columns.push('Portance', 'Qualite')
            }
        }
    }
</script>
