<template>

<Box v-bind:title="$t('map')" v-bind:startsOpen="startsOpen" v-on:toggle="$emit('toggle', $event)">
    <Map />
    <Display class="pb-2"/>
    <Values/>
</Box>

</template>

<script lang='ts'>

import { Component, Vue, Prop } from 'vue-property-decorator';

import Box from '@/components/Box.vue';

import Map from './components/Map.vue';
import Display from './components/Display.vue';
import Values from './components/Values.vue';

@Component({
    components: {
        Box,
        Map,
        Display,
        Values,
    },
})
export default class C extends Vue {
    @Prop({ default: false })
    private startsOpen!: boolean;
}

</script>
