<template>

<div class="
    not-first:mt-2
    lg:not-first:mt-4
">
    <div
        v-on:click="updateToggle()"
        v-bind:class="toggle ? 'rounded-t-lg lg:rounded-t-xl bg-gray-200 dark:bg-cgray-800' : 'rounded-lg lg:rounded-xl'"
        class="
        border-3
        lg:border-4
        border-gray-200
        dark:border-cgray-800
        hover:text-blue-500
        dark:hover:text-blue-400
        cursor-pointer
        px-2
        lg:px-4
        py-1
        lg:py-2
        flex
        items-center
    ">
        <b class="flex-1">
            {{title}}
        </b>
        <button class="flex">
            <IconBase
                v-bind:name="toggle ? 'chevronUp' : 'chevronDown'"
            />
        </button>
    </div>
    <div
        v-bind:class="! toggle && 'hidden'"
        class="
        border-r-4
        border-l-4
        border-b-4
        border-gray-200
        dark:border-cgray-800
        rounded-b-lg
        lg:rounded-b-xl
        p-2
    ">
        <slot></slot>
    </div>
</div>

</template>

<script lang='ts'>

/*
 * Vue 3 composition API doc:
 * https://vue-composition-api-rfc.netlify.com/#summary
 * https://dev.to/manuelojeda/how-to-use-vue-composition-api-using-typescript-part-3-22e6
 * https://vuedose.tips/tips/easily-switch-to-composition-api-in-vuejs-3/
 */

import {
    defineComponent,
    ref,
    // watch,
} from '@vue/composition-api';

import IconBase from '@/components/IconBase.vue';

export default defineComponent({
    components: {
        IconBase,
    },
    props: {
        title: {
            type: String,
            required: true,
        },
        startsOpen: {
            type: Boolean,
            required: false,
            default: false,
        },
    },
    setup(props, { emit }) {
        const toggle = ref(false);
        toggle.value = props.startsOpen;

        const updateToggle = () => {
            toggle.value = ! toggle.value;
            emit('toggle', toggle.value);
        };

        // const toggleWatch = watch(toggle, (newVal, oldVal) => {
        //     console.log('Toggle changed', newVal, oldVal);
        // });

        return {
            toggle,
            updateToggle,
            // toggleWatch,
        };
    },
});

</script>
