<template>

<div
    v-bind:class="{
        'bg-gray-200 dark:bg-cgray-800': dragging,
        'text-blue-500 dark:text-blue-400': dragging,
    }"
    class="
    p-2
    w-full
    h-full
    rounded-xl
    hover:bg-gray-200
    hover:text-blue-500
    dark:hover:bg-cgray-800
    dark:hover:text-blue-400
    group
    cursor-pointer
    relative
">
    <div
        v-bind:class="{
            'border-gray-400 dark:border-cgray-600': dragging,
            'border-gray-300 dark:border-cgray-800': ! dragging,
        }"
        class="
        border-3
        lg:border-4
        border-dashed
        group-hover:border-gray-400
        dark:group-hover:border-cgray-600
        w-full
        h-full
        rounded-xl
        lg:p-48
    " />

    <div
        v-on:click="$refs.file.click()"
        v-on:dragenter="dragging = true"
        v-on:dragleave="dragging = false"
        v-on:dragover.prevent
        v-on:drop.stop.prevent="drop"
        class="
        absolute
        top-0
        left-0
        w-full
        h-full
        flex
        flex-col
        items-center
        justify-center
    ">
        <IconBase
            v-bind:name="icon"
            size="36"
            strokeWidth="2"
            class="
            pb-4
        "/>
        <p v-html="text" />
        <slot></slot>
    </div>

    <input
        v-on:change="$emit('input', $event.target.files)"
        v-bind:accept="accept"
        type="file"
        ref="file"
        class="
        hidden
    ">
</div>

</template>

<script lang="ts">

import { Component, Prop, Vue } from 'vue-property-decorator';
import { State } from 'vuex-class';
import IconBase from '@/components/IconBase.vue';

@Component({
    components: {
        IconBase,
    },
})
export default class C extends Vue {
    @Prop({ default: 'download' })
    private icon!: string;

    @Prop({ default: '' })
    private text!: string;

    @Prop({ default: '*' })
    private accept!: string;

    private dragging: boolean = false;

    private file: File = new File([], '');

    private drop(event: any) {
        this.dragging = false;
        if (event && event.dataTransfer && event.dataTransfer.files) {
            this.$emit('input', event.dataTransfer.files);
        }
    }
}

</script>
