<template>
    <div class="mx-auto lg:mx-0 flex items-center tracking-wide py-2 pl-2">
        <a class="w-56" href="/">
            <svg
                width="100%"
                height="100%"
                viewBox="0 0 1834 417"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xml:space="preserve"
                xmlns:serif="http://www.serif.com/"
                style="
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    stroke-linejoin: round;
                    stroke-miterlimit: 2;
                "
            >
                <g transform="matrix(-1.14063,0,0,1.76597,686.064,-106.722)">
                    <path
                        d="M225.089,71.086C225.089,70.121 224.177,69.253 222.788,68.897C221.399,68.541 219.814,68.769 218.789,69.471C200.031,82.334 144.803,120.204 127.947,131.763C124.773,133.94 123.005,136.817 123.005,139.807C123.005,162.392 123.005,260.491 123.005,285.722C123.005,286.687 123.917,287.555 125.306,287.911C126.695,288.267 128.28,288.039 129.305,287.337C148.063,274.474 203.291,236.604 220.147,225.045C223.321,222.868 225.089,219.991 225.089,217.001C225.089,194.416 225.089,96.317 225.089,71.086Z"
                        style="fill: rgb(216, 121, 67)"
                    />
                </g>
                <g transform="matrix(1.14063,0,0,1.76597,161.255,-106.722)">
                    <path
                        d="M225.089,71.086C225.089,70.121 224.177,69.253 222.788,68.897C221.399,68.541 219.814,68.769 218.789,69.471C200.031,82.334 144.803,120.204 127.947,131.763C124.773,133.94 123.005,136.817 123.005,139.807C123.005,162.392 123.005,260.491 123.005,285.722C123.005,286.687 123.917,287.555 125.306,287.911C126.695,288.267 128.28,288.039 129.305,287.337C148.063,274.474 203.291,236.604 220.147,225.045C223.321,222.868 225.089,219.991 225.089,217.001C225.089,194.416 225.089,96.317 225.089,71.086Z"
                        style="fill: rgb(43, 108, 163)"
                    />
                </g>
                <g transform="matrix(1.14063,0,0,1.76597,-94.5419,-106.722)">
                    <path
                        d="M225.089,71.086C225.089,70.121 224.177,69.253 222.788,68.897C221.399,68.541 219.814,68.769 218.789,69.471C200.031,82.334 144.803,120.204 127.947,131.763C124.773,133.94 123.005,136.817 123.005,139.807C123.005,162.392 123.005,260.491 123.005,285.722C123.005,286.687 123.917,287.555 125.306,287.911C126.695,288.267 128.28,288.039 129.305,287.337C148.051,274.482 203.221,236.651 220.115,225.067C223.31,222.876 225.089,219.981 225.089,216.971L225.089,71.086Z"
                        style="fill: rgb(43, 108, 163)"
                    />
                </g>
                <g transform="matrix(1.14063,0,0,1.76597,-94.5419,-106.722)">
                    <path
                        d="M225.089,174.553L123.005,244.553C123.005,244.553 123.005,272.969 123.005,285.659C123.005,286.635 123.927,287.511 125.331,287.871C126.734,288.231 128.336,288.001 129.372,287.291C148.181,274.393 203.239,236.639 220.114,225.068C223.31,222.877 225.089,219.98 225.089,216.97C225.089,205.058 225.089,174.553 225.089,174.553Z"
                        style="fill: rgb(48, 120, 182)"
                    />
                </g>
                <g transform="matrix(1.14063,0,0,1.76597,161.255,-279.651)">
                    <path
                        d="M225.089,174.553L123.005,244.553L123.005,291.656L225.089,221.656L225.089,174.553Z"
                        style="fill: rgb(48, 120, 182)"
                    />
                </g>
                <g transform="matrix(1.14063,0,0,1.76597,-94.5419,-260.322)">
                    <path
                        d="M225.089,174.553L123.005,244.553L123.005,290.977L225.089,220.977L225.089,174.553Z"
                        style="fill: rgb(37, 94, 141)"
                    />
                </g>
                <g transform="matrix(1.14063,0,0,1.76597,161.255,-208.462)">
                    <path
                        d="M225.089,181.349L123.005,251.349L123.005,290.977L225.089,220.977L225.089,181.349Z"
                        style="fill: rgb(37, 94, 141)"
                    />
                </g>
                <g transform="matrix(-1.14063,0,0,1.76597,430.267,-106.722)">
                    <path
                        d="M225.089,71.086C225.089,70.121 224.177,69.253 222.788,68.897C221.399,68.541 219.814,68.769 218.789,69.471C200.031,82.334 144.803,120.204 127.947,131.763C124.773,133.94 123.005,136.817 123.005,139.807C123.005,162.392 123.005,260.491 123.005,285.722C123.005,286.687 123.917,287.555 125.306,287.911C126.695,288.267 128.28,288.039 129.305,287.337C148.05,274.483 203.219,236.653 220.114,225.068C223.31,222.877 225.089,219.98 225.089,216.97C225.089,194.326 225.089,96.305 225.089,71.086Z"
                        style="fill: rgb(216, 121, 67)"
                    />
                </g>
                <g transform="matrix(-1.14063,0,0,1.76597,430.267,-283.122)">
                    <path
                        d="M225.089,191.541L123.005,261.541L123.005,313.401L225.089,243.401L225.089,191.541Z"
                        style="fill: rgb(211, 104, 44)"
                    />
                </g>
                <g transform="matrix(-1.14063,0,0,1.76597,686.064,-252.724)">
                    <path
                        d="M225.089,191.541L123.005,261.541L123.005,291.656L225.089,221.656L225.089,191.541Z"
                        style="fill: rgb(211, 104, 44)"
                    />
                </g>
                <g transform="matrix(-1.14063,0,0,1.76597,686.064,-199.924)">
                    <path
                        d="M225.089,191.541L123.005,261.541L123.005,324.273L225.089,254.273L225.089,191.541Z"
                        style="fill: rgb(190, 94, 39)"
                    />
                </g>
                <g transform="matrix(-1.14063,0,0,1.76597,430.267,-106.722)">
                    <path
                        d="M225.089,191.541L123.005,261.541C123.005,261.541 123.005,276.875 123.005,285.659C123.005,286.635 123.927,287.511 125.331,287.871C126.734,288.231 128.336,288.001 129.372,287.291C148.194,274.384 203.311,236.59 220.147,225.045C223.321,222.868 225.089,219.991 225.089,217.001C225.089,208.548 225.089,191.541 225.089,191.541Z"
                        style="fill: rgb(190, 94, 39)"
                    />
                </g>
                <g transform="matrix(0.585398,-9.93651e-18,2.88309e-17,-1.45496,37.6311,739.717)">
                    <ellipse
                        cx="97.69"
                        cy="373.574"
                        rx="19.891"
                        ry="20.619"
                        style="fill: rgb(134, 182, 223)"
                    />
                </g>
                <g transform="matrix(0.585398,-9.93651e-18,2.88309e-17,-1.45496,153.935,820.056)">
                    <ellipse
                        cx="97.69"
                        cy="373.574"
                        rx="19.891"
                        ry="20.619"
                        style="fill: rgb(229, 165, 128)"
                    />
                </g>
                <g transform="matrix(0.585398,-9.93651e-18,2.88309e-17,-1.45496,458.106,718.59)">
                    <ellipse
                        cx="97.69"
                        cy="373.574"
                        rx="19.891"
                        ry="20.619"
                        style="fill: rgb(229, 165, 128)"
                    />
                </g>
                <g transform="matrix(0.585398,-9.93651e-18,2.88309e-17,-1.45496,429.822,843.764)">
                    <ellipse
                        cx="97.69"
                        cy="373.574"
                        rx="19.891"
                        ry="20.619"
                        style="fill: rgb(229, 165, 128)"
                    />
                </g>
                <g transform="matrix(0.585398,-9.93651e-18,2.88309e-17,-1.45496,399.493,712.798)">
                    <ellipse
                        cx="97.69"
                        cy="373.574"
                        rx="19.891"
                        ry="20.619"
                        style="fill: rgb(229, 165, 128)"
                    />
                </g>
                <g transform="matrix(0.585398,-9.93651e-18,2.88309e-17,-1.45496,206.647,696.28)">
                    <ellipse
                        cx="97.69"
                        cy="373.574"
                        rx="19.891"
                        ry="20.619"
                        style="fill: rgb(229, 165, 128)"
                    />
                </g>
                <g transform="matrix(0.585398,-9.93651e-18,2.88309e-17,-1.45496,332.545,682.994)">
                    <ellipse
                        cx="97.69"
                        cy="373.574"
                        rx="19.891"
                        ry="20.619"
                        style="fill: rgb(134, 182, 223)"
                    />
                </g>
                <g transform="matrix(0.585398,-9.93651e-18,2.88309e-17,-1.45496,262.24,760.586)">
                    <ellipse
                        cx="97.69"
                        cy="373.574"
                        rx="19.891"
                        ry="20.619"
                        style="fill: rgb(134, 182, 223)"
                    />
                </g>
                <g transform="matrix(0.572951,0.191265,-0.607197,1.34156,386.2,-288.98)">
                    <path
                        d="M132.385,318.853C132.385,316.316 127.389,314.256 121.236,314.256C115.082,314.256 110.087,316.316 110.087,318.853L110.087,397.362C110.087,399.9 115.082,401.96 121.236,401.96C127.389,401.96 132.385,399.9 132.385,397.362L132.385,318.853Z"
                        style="fill: rgb(229, 165, 128)"
                    />
                </g>
                <g transform="matrix(0.897969,0.618869,-0.874392,0.935764,558.757,-231.092)">
                    <path
                        d="M132.385,319.123C132.385,316.437 129.852,314.256 126.731,314.256L115.74,314.256C112.62,314.256 110.087,316.437 110.087,319.123L110.087,397.092C110.087,399.779 112.62,401.96 115.74,401.96L126.731,401.96C129.852,401.96 132.385,399.779 132.385,397.092L132.385,319.123Z"
                        style="fill: rgb(134, 182, 223)"
                    />
                </g>
                <g transform="matrix(1.89477,0,0,1,-222.421,-10.3164)">
                    <g transform="matrix(140.738,0,0,266.667,434.657,317.583)">
                        <path
                            d="M0.872,0L0.87,-0.7L0.737,-0.7L0.479,-0.265L0.217,-0.7L0.083,-0.7L0.083,0L0.235,0L0.235,-0.411L0.44,-0.074L0.513,-0.074L0.719,-0.42L0.72,0L0.872,0Z"
                            style="fill: rgb(48, 120, 182); fill-rule: nonzero"
                        />
                    </g>
                    <g transform="matrix(140.738,0,0,266.667,562.025,317.583)">
                        <path
                            d="M0.289,-0.546C0.203,-0.546 0.116,-0.523 0.057,-0.481L0.113,-0.372C0.152,-0.403 0.211,-0.422 0.268,-0.422C0.352,-0.422 0.392,-0.383 0.392,-0.316L0.268,-0.316C0.104,-0.316 0.037,-0.25 0.037,-0.155C0.037,-0.062 0.112,0.008 0.238,0.008C0.317,0.008 0.373,-0.018 0.402,-0.067L0.402,0L0.548,0L0.548,-0.307C0.548,-0.47 0.453,-0.546 0.289,-0.546ZM0.277,-0.097C0.222,-0.097 0.189,-0.123 0.189,-0.162C0.189,-0.198 0.212,-0.225 0.285,-0.225L0.392,-0.225L0.392,-0.17C0.374,-0.121 0.329,-0.097 0.277,-0.097Z"
                            style="fill: rgb(48, 120, 182); fill-rule: nonzero"
                        />
                    </g>
                    <g transform="matrix(140.738,0,0,266.667,641.824,317.583)">
                        <path
                            d="M0.39,-0.546C0.318,-0.546 0.26,-0.523 0.221,-0.476L0.221,-0.538L0.072,-0.538L0.072,0.194L0.228,0.194L0.228,-0.057C0.268,-0.013 0.323,0.008 0.39,0.008C0.541,0.008 0.658,-0.1 0.658,-0.269C0.658,-0.438 0.541,-0.546 0.39,-0.546ZM0.363,-0.12C0.285,-0.12 0.226,-0.176 0.226,-0.269C0.226,-0.362 0.285,-0.418 0.363,-0.418C0.441,-0.418 0.5,-0.362 0.5,-0.269C0.5,-0.176 0.441,-0.12 0.363,-0.12Z"
                            style="fill: rgb(48, 120, 182); fill-rule: nonzero"
                        />
                    </g>
                    <g transform="matrix(140.738,0,0,266.667,729.786,317.583)">
                        <path
                            d="M0.456,-0.538L0.302,-0.172L0.153,-0.538L-0.008,-0.538L0.218,0L0.379,0L0.606,-0.538L0.456,-0.538Z"
                            style="fill: rgb(255, 138, 76); fill-rule: nonzero"
                        />
                    </g>
                    <g transform="matrix(140.738,0,0,266.667,806.91,317.583)">
                        <path
                            d="M0.15,-0.613C0.208,-0.613 0.247,-0.651 0.247,-0.703C0.247,-0.751 0.208,-0.787 0.15,-0.787C0.092,-0.787 0.053,-0.749 0.053,-0.7C0.053,-0.651 0.092,-0.613 0.15,-0.613ZM0.072,0L0.228,0L0.228,-0.538L0.072,-0.538L0.072,0Z"
                            style="fill: rgb(255, 138, 76); fill-rule: nonzero"
                        />
                    </g>
                    <g transform="matrix(140.738,0,0,266.667,842.236,317.583)">
                        <path
                            d="M0.599,-0.267C0.599,-0.44 0.477,-0.546 0.319,-0.546C0.155,-0.546 0.032,-0.43 0.032,-0.269C0.032,-0.109 0.153,0.008 0.339,0.008C0.436,0.008 0.511,-0.022 0.561,-0.079L0.478,-0.169C0.441,-0.134 0.4,-0.117 0.343,-0.117C0.261,-0.117 0.204,-0.158 0.189,-0.225L0.596,-0.225C0.597,-0.238 0.599,-0.255 0.599,-0.267ZM0.32,-0.428C0.39,-0.428 0.441,-0.384 0.452,-0.316L0.187,-0.316C0.198,-0.385 0.249,-0.428 0.32,-0.428Z"
                            style="fill: rgb(255, 138, 76); fill-rule: nonzero"
                        />
                    </g>
                    <g transform="matrix(140.738,0,0,266.667,922.597,317.583)">
                        <path
                            d="M0.798,-0.538L0.667,-0.174L0.539,-0.538L0.407,-0.538L0.275,-0.174L0.148,-0.538L0.001,-0.538L0.195,0L0.345,0L0.47,-0.334L0.591,0L0.741,0L0.936,-0.538L0.798,-0.538Z"
                            style="fill: rgb(255, 138, 76); fill-rule: nonzero"
                        />
                    </g>
                </g>
            </svg>
        </a>
        <div class="pt-4 font-black text-blue-600 dark:text-blue-400 text-xs">v. {{ version }}</div>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator'
    import { State } from 'vuex-class'

    @Component
    export default class C extends Vue {
        private version: string | undefined = process.env.VUE_APP_VERSION || '1.0'
    }
</script>
