<template>

<div
    v-html="icon
        .setFill(fill)
        .setIcon(name)
        .setSize(size)
        .setStroke(stroke)
        .setStrokeWidth(strokeWidth)
        .setText(text)
        .toString()"
    class="
    inline-block
">
</div>

</template>

<script lang="ts">

import { Component, Prop, Vue } from 'vue-property-decorator';
import { State } from 'vuex-class';

import { Icon } from '@/ts/icon';

@Component
export default class IconBase extends Vue {
    @Prop()
    private fill!: string;

    @Prop()
    private name!: string;

    @Prop({ default: 24 })
    private size!: number;

    @Prop()
    private stroke!: string;

    @Prop()
    private strokeWidth!: number;

    @Prop({ default: '' })
    private text!: string;

    private icon: Icon = new Icon();
}

</script>
