<template>

<div
    v-if="inputValue.kind && ! inputValue.hidden"
    class="
    mb-6
    lg:flex
    lg:items-center
    px-1
">
    <div class="lg:w-1/4">
        <label
            v-if="inputValue.kind !== 'boolean'"
            class="
            label
        ">
            {{ $t(inputKey) }}
        </label>
    </div>
    <div class="flex flex-wrap lg:w-3/4">
        <div
            v-bind:class="{
                'w-full lg:w-3/5': inputValue.kind === 'dropdown',
                'block text-gray-800 font-bold text-left': inputValue.kind === 'boolean'
            }"
            class="
            w-full
        ">
            <textarea
                v-if="inputValue.kind === 'longString'"
                v-model="inputValue.value"
                v-bind:readonly="inputValue.readonly"
                rows="4"
                class="
                input
            "/>

            <!-- <input
                v-else-if="inputValue.kind === 'unit'"
                v-bind:readonly="inputValue.readonly"
                v-bind:value="inputValue.value.toNumber()"
                v-on:input="inputValue.value.setNumber($event.target.value);"
                type="number"
                min="0"
                max="1000"
                class="input
            "> -->

            <input
                v-else-if="inputValue.kind === 'date'"
                v-bind:value="inputValue.value.locale(language).format('L')"
                v-bind:readonly="inputValue.readonly"
                class="input"
                type="text"
            >
            <input
                v-else-if="inputValue.kind === 'dropdown'"
                v-model="inputValue.value.current"
                v-bind:readonly="inputValue.readonly"
                class="input mb-2 lg:mb-0"
                type="text"
            >

            <DropdownBase
                v-else-if="inputValue.kind === 'dropdownFixed'"
                v-on:input="inputValue.value.current = $event"
                v-bind:value="inputValue.value.current"
            >
                <option
                    v-bind:key="key"
                    v-for="(value, key) in inputValue.value.list"
                    v-bind:selected="inputValue.value.current === inputValue.value.list[key]"
                >
                    {{ inputValue.value.list[key] }}
                </option>
            </DropdownBase>

            <input
                v-else-if="inputValue.kind === 'number'"
                v-bind:readonly="inputValue.readonly"
                v-model="inputValue.value"
                class="input"
                type="number"
            >

            <input
                v-else-if="inputValue.kind === 'boolean'"
                type="checkbox"
                v-model="inputValue.value"
                v-bind:readonly="inputValue.readonly"
                class="mr-2 leading-tight"
            >
            <span
                v-else-if="inputValue.kind === 'boolean'"
                class="
                text-sm
            ">
                {{ $t(inputKey) }}
            </span>

            <input
                v-else
                v-model="inputValue.value"
                v-bind:readonly="inputValue.readonly"
                type="text"
                class="
                input
            ">
        </div>
        <div
            v-if="inputValue.kind === 'dropdown'"
            class="
            w-full
            lg:w-2/5
        ">
            <DropdownBase
                v-on:input="inputValue.value.current = $event"
                class="lg:ml-2"
            >
                <option
                    v-bind:key="key"
                    v-for="(value, key) in inputValue.value.list"
                >
                    {{ inputValue.value.list[key] }}
                </option>
            </DropdownBase>
        </div>
    </div>
</div>

</template>

<script lang="ts">

import { Component, Prop, Vue } from 'vue-property-decorator';
import { State } from 'vuex-class';
import DropdownBase from './DropdownBase.vue';

@Component({
    components: {
        DropdownBase,
    },
})
export default class CustomInput extends Vue {
    @Prop()
    private inputKey!: string;

    @Prop()
    private inputValue!: any;

    private language: string = navigator.language;
}

</script>
