<template>

<div>
    <div
        v-bind:class="{ 'lg:block': ! full}"
        class="
        absolute
        bg-black
        dark:bg-cgray-800
        hidden
        h-screen
        left-0
        opacity-50
        top-0
        w-screen
        z-40
    "></div>
    <div
        v-bind:class="{ 'lg:flex lg:justify-center lg:items-center': ! full}"
        class="
        absolute
        h-screen
        left-0
        top-0
        w-screen
        z-50
    ">
        <div
            v-bind:class="{ 'lg:rounded-xl': ! full}"
            class="
            bg-white
            dark:bg-cgray-900
            flex
            flex-col
            items-center
            justify-center
            h-full
            overflow-y-auto
            w-full
            px-2
            py-4
            shadow-2xl
            lg:shadow-none
            text-center
            lg:h-auto
            lg:px-16
            lg:py-4
            lg:w-auto
        ">
            <h1
                v-if="title"
                class="
                text-3xl
                pb-4
                font-medium
            ">
                {{ title }}
            </h1>
            <slot></slot>
        </div>
    </div>
</div>

</template>

<script lang='ts'>

import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class C extends Vue {
    @Prop()
    private title!: string;

    @Prop({ default: false })
    private full!: boolean;

    private mounted() {
        document.body.appendChild(this.$el);
    }

    private beforeDestroy() {
        if (document.body.contains(this.$el)) {
            document.body.removeChild(this.$el);
        }
    }
}

</script>
