<template>

<a
    v-bind:style="{
        backgroundColor: color,
        borderColor: blend(color, '#000000')
    }"
    v-on:mouseover="genColorButtonStyle($event.target, 0.1)"
    v-on:mouseleave="genColorButtonStyle($event.target)"
    v-on:click="$emit('click', $event)"
    class="
        border-2
        h-6
        w-6
        lg:h-8
        lg:w-8
        mr-4
        rounded-full
        last:mr-0
        cursor-pointer
        appearance-none
    "
/>

</template>

<script lang="ts">

import { Component, Prop, Vue } from 'vue-property-decorator';

import { blend } from '@/ts/utils/blender';

@Component
export default class C extends Vue {
    @Prop()
    private color!: string;

    private genColorButtonStyle(element: any, percentage?: number) {
        if (percentage === undefined) {
            element.style.backgroundColor = this.color;
            element.style.borderColor = blend(this.color, '#000000', 0.3);
        } else {
            element.style.backgroundColor = blend(this.color, '#000000', percentage);
            element.style.borderColor = blend(this.color, '#000000', percentage + 0.3);
        }
    }

    private blend(color1: string, color2: string) {
        return blend(color1, color2, 0.3);
    }
}

</script>
