<template>
    <Box
        v-bind:title="$t('table')"
        v-bind:startsOpen="startsOpen"
        v-on:toggle="$emit('toggle', $event)"
    >
        <ButtonAverage class="py-2" />

        <SelectorValues v-bind:columns="columns" class="pb-2 lg:pb-4" />

        <div class="overflow-x-auto">
            <Table v-bind:columns="columns" />
        </div>
    </Box>
</template>

<script lang="ts">
    import { Component, Vue, Prop } from 'vue-property-decorator'
    import { State } from 'vuex-class'

    import { Project } from '@/ts/project'
    import { ReportBase } from '@/ts/reportBase'

    import Box from '@/components/Box.vue'

    import ButtonAverage from './components/ButtonAverage.vue'
    import SelectorValues from './components/SelectorValues.vue'
    import Table from './components/Table/index.vue'

    @Component({
        components: {
            Box,
            ButtonAverage,
            SelectorValues,
            Table,
        },
    })
    export default class C extends Vue {
        @State('project')
        private project!: Project

        @Prop({ default: false })
        private startsOpen!: boolean

        private columns: string[] = ['Portance', 'Qualite']
    }
</script>
