<template>

<div class="
    h-screen
    flex
    lg:p-2
">
    <div
        v-if="windowWidth < 1024"
        class="
        block
        max-h-full
        overflow-y-auto
        mx-auto
        max-w-2xl
        z-10
        fixed
        bottom-0
        inset-x-0
    ">
        <Menu />
    </div>
    <div v-else>
        <Menu style="width: 520px" />
    </div>
    <div class="
        lg:p-2
        w-full
    ">
        <Map />
    </div>
</div>

</template>

<script lang='ts'>

import {
    defineComponent,
    onMounted,
    onBeforeUnmount,
    ref,
} from '@vue/composition-api';

import Map from './components/Map.vue';
import Menu from './components/Menu/index.vue';

export default defineComponent({
    components: {
        Map,
        Menu,
    },
    setup() {
        const windowWidth = ref(window.innerWidth);

        const handleResize = () => {
            windowWidth.value = window.innerWidth;
        };

        onMounted(() => {
            const html = document.documentElement; // returns the html tag
            html.setAttribute('lang', navigator.language);
            window.addEventListener('resize', handleResize);
        });

        onBeforeUnmount(() => {
            window.removeEventListener('resize', handleResize);
        });

        return {
            windowWidth,
        };
    },
});
</script>
