<template>
    <div>
        <div class="absolute bg-black h-screen left-0 opacity-50 top-0 w-screen z-10"></div>
        <div class="absolute h-screen left-0 top-0 w-screen z-20">
            <div class="h-full flex flex-col items-center justify-center overflow-y-auto py-4">
                <div class="flex-1 flex flex-no-wrap overflow-x-auto w-full">
                    <div
                        v-bind:key="key"
                        v-for="(screenshot, key) in project.reports.current.screenshots"
                        class="flex flex-col justify-center flex-none p-2 text-center"
                    >
                        <div class="bg-white p-4 rounded-xl">
                            <img v-bind:src="screenshot" style="height: 70vh" class="rounded-lg" />
                        </div>
                        <button
                            v-on:click="$emit('remove', key)"
                            class="inline-flex text-gray-400 hover:text-red-400 font-bold justify-center pt-2 cursor-pointer"
                        >
                            <IconBase name="trash2" class="mr-2" />
                            <p>
                                {{ $t('delete') }}
                            </p>
                        </button>
                    </div>
                </div>
                <div class="flex my-4">
                    <button v-on:click="$refs.fileA.click()" class="btn-green mr-4">
                        {{ $t('add') }}
                    </button>
                    <input
                        v-on:change="upload($event.target.files)"
                        accept=".png, .jpg, .jpeg"
                        type="file"
                        ref="fileA"
                        multiple
                        class="hidden"
                    />
                    <button v-on:click="$emit('close')" class="btn-red">
                        {{ $t('close') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator'
    import { State } from 'vuex-class'
    import imageCompression from 'browser-image-compression'

    import IconBase from '@/components/IconBase.vue'

    import { Project } from '@/ts/project'

    @Component({
        components: {
            IconBase,
        },
    })
    export default class C extends Vue {
        @State('project')
        private project!: Project

        private mounted() {
            document.body.appendChild(this.$el)
        }

        private async upload(imageFiles: File[]) {
            for (const imageFile of imageFiles) {
                const options = {
                    maxSizeMB: 0.5,
                    maxWidthOrHeight: 1000,
                    useWebWorker: true,
                }

                try {
                    const compressedFile = await imageCompression(imageFile, options)

                    console.log(imageFile, compressedFile)

                    this.project?.reports?.current?.screenshots.push(
                        (await imageCompression.getDataUrlFromFile(compressedFile)) as string
                    )
                } catch (error) {
                    console.log(error)
                }
            }
        }
    }
</script>
